/* Hide Firefox native tabs when using Sidebery (based on title change) */
/*#main-window[titlepreface*="🦊 "] .tabbrowser-tab {
  visibility: collapse !important;
}*/
#TabsToolbar {
  visibility: collapse !important;
}

#main-window[titlepreface*="🦊 "] #nav-bar {
  margin-top: -40px;
  margin-right: 137px;
  box-shadow: none !important;
}

/* Sidebar autohide tweaks for Sidebery */
#sidebar-box[sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929_"] {
  --uc-sidebar-width: 48px;
  --uc-sidebar-hover-width: 250px;
  --uc-autohide-sidebar-delay: 300ms;

  min-width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;
  transition: max-width 250ms ease-in-out var(--uc-autohide-sidebar-delay),
              min-width 250ms ease-in-out var(--uc-autohide-sidebar-delay) !important;
  overflow: hidden !important;
}

#sidebar-box[sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929_"]:hover {
  min-width: var(--uc-sidebar-hover-width) !important;
  max-width: var(--uc-sidebar-hover-width) !important;
  transition-delay: 0ms !important;
}

/* Hide header */
#sidebar-header {
  display: none !important;
}

/* Sidebar styling for minimal look */
#sidebar-box {
  background-color: var(--toolbar-bgcolor) !important;
  border-inline: 1px solid var(--chrome-content-separator-color) !important;
}

/* Fix for RTL positioning if sidebar is on the right */
#sidebar-box[positionend] {
  direction: rtl;
}
#sidebar-box[positionend] > * {
  direction: ltr;
}
#sidebar-box[positionend]:-moz-locale-dir(rtl) {
  direction: ltr;
}
#sidebar-box[positionend]:-moz-locale-dir(rtl) > * {
  direction: rtl;
}

