@import url('../../.cache/wal/colors-waybar.css');

* {
    font-size:13px;
    font-family: "CodeNewRoman Nerd Font Propo";
}
window#waybar{
    all:unset;
}
.modules-left {
    padding:5px;
    margin:2 0 5 2;
    border-radius:5px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-center {
    padding:7px;
    margin:2 0 5 0;
    border-radius:5px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-right {
    padding:7px;
    margin: 2 2 5 0;
    border-radius:5px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
tooltip {
    background:@background;
    color: @color7;
}
#clock:hover, #custom-pacman:hover, #custom-notification:hover,#bluetooth:hover,#network:hover,#battery:hover, #cpu:hover,#memory:hover,#temperature:hover,#weather:hover{
    transition: all .3s ease;
    /*color:@color9;*/
    color:red;
}
#custom-notification {
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;
}
#clock{
    padding: 0px 5px;
    color:@color7;
    transition: all .3s ease;
}

#workspaces {
    padding: 0px 5px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(@color9,.4);
    transition: all .2s ease;
}
#workspaces button:hover {
    color:rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.active {
    color: @color9;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: @color9;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#bluetooth{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;
}

#battery{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;


}
#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#group-expand{
    padding: 0px 5px;
    transition: all .3s ease; 
}
#custom-expand{
    padding: 0px 5px;
    color:alpha(@foreground,.2);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease; 
}
#custom-expand:hover{
    color:rgba(255,255,255,.2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}
#custom-colorpicker{
    padding: 0px 5px;
}
#cpu,#memory,#temperature,#weather{
    padding: 0px 5px;
    transition: all .3s ease; 
    color:@color7;

}
#custom-endpoint{
    color:transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);

}
#custom-blueLight{
    color:blue;
}
#custom-mullvad {
    padding: 0 10px;
    border-radius: 5px;
    margin: 2px 4px;
}

#custom-mullvad.connected {
    color: #a3be8c;
    background-color: rgba(163, 190, 140, 0.2);
}

#custom-mullvad.disconnected {
    color: #bf616a;
    background-color: rgba(191, 97, 106, 0.2);
}

#custom-mullvad.error {
    color: #d08770;
    background-color: rgba(208, 135, 112, 0.2);
}

#custom-rofi-wifi {
  color: #a3be8c;
  padding: 0 10px;
}

